<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
    {{> header}}
    <h3>{{screamIt welcomeMessage}}</h3>
    {{> footer}}
</body>
</html>