<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Under Maintenance</title>
</head>
<body>
    <h1>We will be right back</h1>
    <h2>This site is under maintenance.</h2>
    <p>Some text here</p>
    {{> footer}}
</body>
</html>